button {
  position: absolute;
  top: 0;
  right: 0;
}

body {
  background-color: #2c3e50;
  transition: background-color 2s ease;
  color: white;
  font-family: "Trebuchet MS";
}

.container {
  width: 360px;
  margin: 60px auto;
  text-align: center;
}

img {
  width: 100px;
  border-radius: 50px;
}

h2 {
  font-size: 28px;
}

a {
  background-color: white;
  color: #2c3e50;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 100%;
  padding: 16px 0;
  margin-bottom: 16px;
  border-radius: 25px;
}

a:hover {
  padding: 18px 0;
  font-weight: bold;
}

.day-mode a {
  background-color: #2c3e50;
  color: white;
}

.day-mode {
  background: white;
  color: #2c3e50;
}
